body
{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
a
{
    text-decoration: none;
}
.dispaly-flex
{
    display: flex;
    flex-wrap: wrap;
}
.dispaly-flex-between
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-gap-20
{
    column-gap: 20px;
}

.width-15
{
    width: 15px;
}
.badge-notification
{
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    background-color: red;
    position: relative;
    top: -11px;
    left: -7px;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    color:white;
}