body
{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
.dispaly-flex-between
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.margin-right-20
{
    margin-right:20px
}
.width-15
{
    width: 15px;
}